<div class="container">
    <div class="row justify-content-center">
        <div class="col-10">
            <h1>Your Tech Blogs</h1>
            <div *ngFor="let article of articles" class="card mb-3" style="cursor: pointer;" (click)="navigateToBlog(article.id)">
                <div class="row g-0">
                <div class="col-md-4">
                    <img [src]="article.featuredImageUrl" class="img-fluid rounded-start" style="height: 100%;" alt="Blog Image">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    <p class="card-text" [innerHTML]="sanitizeHtml(article.description.slice(0, 300))"></p>
                    </div>
                </div>
                </div>  
            </div>
        </div>
    </div>
</div>
  