<div class="container mt-5" style="z-index: -1;">
  <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ errorMessage }}
    <button type="button" class="btn-close" aria-label="Close" (click)="closeAlert()"></button>
  </div>
    <form (ngSubmit)="onSubmit()" #form="ngForm">
      <div class="row">
        <h1>Update your article</h1>
        <hr>
        <div class="col-md-9">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" [(ngModel)]="formData.title" required>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <!-- <textarea class="form-control" [rows]="10" id="description" name="description" [(ngModel)]="formData.description" rows="5" required></textarea> -->
            <angular-editor [placeholder]="'Enter text here...'" [config]="editorConfig" name="description" [(ngModel)]="formData.description"></angular-editor>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="title">Tags</label>
            <input type="text" class="form-control" id="tags" name="tags" [(ngModel)]="formData.tags" required>
          </div>
          <div class="form-group">
            <label for="featuredImage">Featured Image</label>
            <input type="input" class="form-control" id="featuredImage" name="featuredImageUrl" [(ngModel)]="formData.featuredImageUrl">
          </div>
        </div>
      </div>
      <br>
      <button type="submit" class="btn btn-primary">Update</button>
      <br>
      <br>
    </form>
</div>
  