<form #signInForm="ngForm" (ngSubmit)="signIn(signInForm)">
  <div *ngIf="successMessage" class="alert alert-success alert-dismissible fade show" role="alert">
      {{ successMessage }}
      <button type="button" class="btn-close" aria-label="Close" (click)="closeAlert()"></button>
  </div>
  <div class="mb-3">
      <label for="signinEmail" class="form-label">Email address</label>
      <input type="email" class="form-control" name="email" id="signinEmail" ngModel>
  </div>
  <div class="mb-3">
      <label for="signinPassword" class="form-label">Password</label>
      <input type="password" class="form-control" name="password" id="signinPassword" ngModel>
  </div>
  <button type="submit" class="btn btn-primary">Sign In</button>
</form>
