.search-container {
    position: relative;
}
  
.search-input {
    position: absolute;
    top: 56px; /* Adjust as needed */
    right: 0;
    width: 300px;
    z-index: 1000;
}

.navbar-profile-img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}