<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="/">DevWrite</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <div class="search-container">
              <button class="btn btn-outline-light" (click)="toggleSearch()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                </svg>
              </button>
              <div *ngIf="showSearch" class="search-input d-flex align-items-center">
                <input type="text" class="form-control form-control-lg" placeholder="Search..." #searchInput>
                <button class="btn btn-primary" (click)="search(searchInput.value)">Search</button>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <ng-container *ngIf="isAuthenticated(); else signInTemplate">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-center" id="navbarDropdownCategory1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <img [src]="this.authorProfilePic" class="navbar-profile-img">
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownCategory1">
                  <li><a class="dropdown-item text-center" routerLink="/user/write"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                  </svg> Write</a></li>
                  <hr>
                  <li><a class="dropdown-item text-center" routerLink="/user/profile">Profile</a></li>
                  <li><a class="dropdown-item text-center" routerLink="/user/dashboard">Dashboard</a></li>
                  <li><a class="dropdown-item text-center" style="cursor: pointer;" (click)="logout()">Log out</a></li>
                </ul>
              </li>
            </ng-container>
            <ng-template #signInTemplate>
              <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#authModal">Sign In</button>
            </ng-template>
          </li>
        </ul>
      </div>
    </div>
</nav>
<app-modal (signInSuccess)="handleSignInSuccess()"></app-modal>
  