<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <form (ngSubmit)="onSubmit()">
        <div class="profile-pic-container">
          <img [src]="user.profilePic" class="rounded-circle img-thumbnail" alt="Profile Picture" (click)="onProfilePicClick()">
          <input type="file" #fileInput (change)="onFileChange($event)" style="display: none;">
        </div>
        <h3 class="mt-3">
          <input type="text" [(ngModel)]="user.fullName" name="fullName" class="form-control text-center" placeholder="Enter your name">
          <textarea name="bio" id="userBio" placeholder="Your bio" [(ngModel)]="user.bio" class="form-control mt-3"></textarea>
        </h3>
        <button type="submit" class="btn btn-primary mt-3">Update Profile</button>
      </form>
    </div>
  </div>
</div>
