.profile-pic-container {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto;
  }
  
  .profile-pic-container img {
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  
  .profile-pic-container input[type="file"] {
    display: none;
  }
  